<div ng-if="isShow"  ng-repeat="stu in student" class="test animated">
    {{stu}}
</div>
{{isShow}}
<input type="button" value="Toggle" ng-click="isShow = !isShow"/>

<div class="test">我是测试</div>








<!--<div>-->
    <!--<div>我是测试页面</div><br/>-->
    <!--<div>w</div><br/>-->
    <!--<div>egefdsf</div><br/>-->
<!--</div>-->
<!--<div class="iscroll-wrapper" ng-class="{-->
      <!--'iscroll-on': vm.iScrollState.useIScroll,-->
      <!--'iscroll-off': !vm.iScrollState.useIScroll-->
      <!--}"-->
     <!--iscroll="{vScrollbar:false,hScroll:false,fixedScrollbar:true,momentum:false,}">-->
    <!--<div class="iscroll-scroller"-->
         <!-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测ww试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>ww</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>w</div>-->
        <!--<div>egefdsf</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>757</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>wo shi ceshi </div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测ww试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>ww</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>w</div>-->
        <!--<div>egefdsf</div>-->
        <!--<div>我是测试页面</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>757</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>wo shi ceshi </div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
        <!--<div>我是测dfgdsfg试页面</div>-->
    <!--</div>-->
<!--</div>-->




<!--<div class="mydiv">-->
<!--<div>我是测试页面</div><br/>-->
<!--<div>我是测试页面</div><br/>-->
<!--<div>我是测试页面</div><br/>-->
<!--<div>我是测ww试页面</div><br/>-->
<!--<div>我是测试页面</div><br/>-->
<!--<div>ww</div><br/>-->
<!--<div>我是测试页面</div><br/>-->
<!--<div>我是测试页面</div><br/>-->
<!--<div>w</div><br/>-->
<!--<div>egefdsf</div><br/>-->
<!--<div>我是测试页面</div><br/>-->
<!--<div>我是测dfgdsfg试页面</div><br/>-->
<!--<div>我是测dfgdsfg试页面</div><br/>-->
<!--<div>757</div><br/>-->
<!--<div>我是测dfgdsfg试页面</div><br/>-->
<!--<div>wo shi ceshi </div><br/>-->
<!--<div>我是测dfgdsfg试页面</div><br/>-->
<!--<div>我是测dfgdsfg试页面</div><br/>-->
<!--<div>我是测dfgdsfg试页面</div><br/>-->

<!--</div>-->

<!--<script>-->
    <!--$(function(){-->
        <!--alert();-->
        <!--jQuery('.mydiv')-->
                <!--.bind('move', function(e) {-->
                    <!--// move .mydiv horizontally-->
                    <!--jQuery(this).css({ left: e.startX + e.deltaX });-->
                    <!--console.log(e.startX);-->
                <!--})-->
                <!--.bind('moveend', function() {-->
                    <!--// move is complete!-->
                <!--});-->
    <!--})-->
<!--</script>-->